<%- include('../partials/header'); %>
<body>
	<%- include('../partials/navbar', { back: ''}) %>
 
    <div class="my-4 py-4"> </div>
 
    <div class="my-4 py-4"> </div>
 
    <section id="button">
       <div class="container justify-content-center">
          <div class="row justify-content-around">
             <div class="col-12 col-md-6">
                <a class="nav-link btn btn-outline-primary my-2" href="/orders">Orders</a>
             </div>
             <div class="col-12 col-md-6">
                <a class="nav-link btn btn-outline-primary my-2" id="teal-btn" href="/assignWorkWindow">Assign Work</a>
             </div>
             <div class="col-12 col-md-6">
                <a class="nav-link btn btn-outline-primary my-2" id="orange-btn" href="/processWindow">Process </a>
             </div>
             <div class="col-12 col-md-6">
                <a class="nav-link btn btn-outline-primary my-2" href="/workstationWindow">Workstation</a>
             </div>
			 <div class="col-12 col-md-6">
				 <a class="nav-link btn btn-outline-primary my-2" href="/makecustomer">Create Customer</a>
			  </div>
			   <div class="col-12 col-md-6">
				<a class="nav-link btn btn-outline-primary my-2" id="orange-btn" href="/removeCustomer"> Remove Customer</a>
			  </div>
          </div>
       </div>
    </section>

<%- include('../partials/footer'); %>