<%- include('../partials/header'); %> 
<!-- Navigation Bar -->
  <%- include('../partials/navbar', { back: ''}) %>

 <div class="my-4 py-4"> </div>

 <div class="my-4 py-4"> </div>
<section id="button">
	<div class="container justify-content-center">
	   <div class="row justify-content-around">
		  <div class="col-12 col-md-6">
			 <a class="nav-link btn btn-outline-primary my-2" href="/createProcess">Add Process</a>
		  </div>
		  <div class="col-12 col-md-6">
			 <a class="nav-link btn btn-outline-primary my-2" id="teal-btn" href="/removeProcess">Remove Process</a>
		  </div>
		  <div class="col-12 col-md-6">
			 <a class="nav-link btn btn-outline-primary my-2" href="/updateProcess">Update Process</a>
		  </div>
		  <div class="col-12 col-md-6">
			<a class="nav-link btn btn-outline-primary my-2" href="/viewProcesses?view=true">Show All Processes</a>
		 </div>
	   </div>
	</div>
 </section>
<%- include('../partials/footer'); %>